<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post-index" class="feature">

{% include browser-upgrade.html %}
{% include navigation.html %}

<div class="entry-header" style="height: 400px; z-index:1;">
  <div class="image-credit">video source: <a href="http://coverr.co">coverr</a></div><!-- /.image-credit -->
  <!-- <video autoplay  poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Sail-Away.jpg" loop>
    <source src="https://s3-us-west-2.amazonaws.com/coverr/webm/Sail-Away.webm" type="video/webm">
    <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Sail-Away.mp4" type="video/mp4">
  </video> -->
  <!-- <video autoplay  poster="https://s3-us-west-2.amazonaws.com/coverr/poster/birds.jpg" loop>
    <source src="https://s3-us-west-2.amazonaws.com/coverr/webm/birds.webm" type="video/webm">
    <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/birds.mp4" type="video/mp4">
  </video> -->
  <video autoplay  poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Surfers-Paradise.jpg" loop>
    <source src="https://s3-us-west-2.amazonaws.com/coverr/webm/Surfers-Paradise.webm" type="video/webm">
    <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Surfers-Paradise.mp4" type="video/mp4">
  </video>
  <div class="header-title">
    <div class="header-title-wrap">
      <h1>{{ site.title }}</h1>
      <h2>{{ page.title }}</h2>
    </div><!-- /.header-title-wrap -->
  </div><!-- /.header-title -->
</div><!-- /.entry-header -->

<div id="main" role="main">
  {{ content }}
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
</html>
